a {
  text-decoration: none;
}

.btn {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid transparent;
  cursor: pointer;
  color: #fff;
  background-color: #ff6600;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.btn:hover {
  background-color: #ff822e !important;
  color: #fff !important;
}

.side-bar {
  width: 90px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 60px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}
.side-bar .container {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px;
  padding-top: 70px;
  margin-bottom: 70px;
  background: #0D1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.side-bar .container .pull-right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}
.side-bar .container .pull-right svg {
  background: #0D1326;
  width: 25px;
  height: 25px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.5;
}
.side-bar .content {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}
.side-bar .content .back-button {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}
.side-bar .content .download-button {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}
.side-bar .content .buy-button {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}
.header {
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-image: linear-gradient(to right, rgba(236, 98, 6, 0.98), rgba(5, 3, 0, 0.83)), url(../img/banner2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 350px;
}
.header .header-top {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}
.header .header-top .header-logo .logo-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.header .header-top .header-context {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.header .header-top .header-context .search input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: rgba(22, 28, 45, 0.7);
  border: none;
  font-weight: 400;
  border-radius: 6px;
  position: relative;
  right: 0;
  background: #fff;
  outline: 0;
  border: 1px solid #fff;
}
.header .header-top .header-context .search svg {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}
.header .header-top .header-context .menu svg {
  color: #fff;
}
.header .header-top .header-context .nav-button button {
  background-color: transparent;
  border: none;
}
.header .header-top .header-context .nav-button button svg {
  color: #fff;
}
.header .header-bottom {
  text-align: center !important;
  padding-top: 80px;
}
.header .header-bottom ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: #ff6600;
  text-transform: capitalize;
}
.header .header-bottom ul li.active {
  color: #fff;
}

.features {
  padding: 50px 0;
}
.features .container {
  font-family: "Quicksand", sans-serif;
  padding: 48px 15px;
}
.features .container .features-top h6 {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 20px;
  font-weight: 400;
}
.features .container .features-top h3 {
  margin-bottom: 50px;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.features .container .features-center .features-left img {
  max-width: 100%;
  border-radius: 26px;
  height: auto;
  padding: 0 15px;
}
.features .container .features-center .features-right h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.features .container .features-center .features-right p {
  line-height: 26px;
  font-size: 18px;
}
.features .container .features-bottom {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}
.features .container .features-bottom div h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.features .container .features-bottom div h4 a {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #ff6600;
}
.features .container .features-bottom div h4 a:hover {
  color: #ff822e;
}
.features .container .features-bottom div p {
  font-size: 18px;
  line-height: 26px;
}

.skills {
  background-color: #f7f7f7;
  padding: 50px 0;
  font-family: "Quicksand", sans-serif;
}
.skills .container {
  padding: 50px 15px;
}
.skills .container .skills-left h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
}
.skills .container .skills-left h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.skills .container .skills-left p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}
.skills .container .skills-bar .progress-info h6 {
  font-size: 18px;
  color: rgba(22, 28, 45, 0.7);
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.skills .container .skills-bar .progress-info .progress {
  overflow: hidden;
  height: 0.5em;
  background-color: rgba(22, 28, 45, 0.7);
}
.skills .container .skills-bar .progress-info .progress .progress-bar {
  background-color: #ff6600;
}
.skills .container .skills-bar .progress-info .progress .progress-bar-striped {
  background-image: none;
  background-size: 1em 1em;
}
.skills .skills-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
}
.skills .skills-right img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.teams {
  padding: 50px 0;
  font-family: "Quicksand", sans-serif;
}
.teams .container .teams-top h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
}
.teams .container .teams-top h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.teams .container .teams-bottom .chef-info {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.teams .container .teams-bottom .chef-info .chef-top {
  position: relative;
  overflow: hidden;
}
.teams .container .teams-bottom .chef-info .chef-top img {
  vertical-align: middle;
  border-style: none;
  border-radius: 6px;
  width: 100%;
}
.teams .container .teams-bottom .chef-info .chef-top .chef-overlay {
  opacity: 0;
  position: absolute;
  bottom: 12%;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.teams .container .teams-bottom .chef-info .chef-top .chef-overlay .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teams .container .teams-bottom .chef-info .chef-top .chef-overlay .social a {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  font-size: 16px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  transition: all 0.3s ease 0s;
  background: rgba(157, 157, 157, 0.5);
}
.teams .container .teams-bottom .chef-info .chef-top .chef-overlay .social a:hover {
  background-color: #fff;
  color: #ff6600;
}
.teams .container .teams-bottom .chef-info .chef-top:hover .chef-overlay {
  opacity: 1;
}
.teams .container .teams-bottom .chef-info .chef-bottom a {
  margin: 25px 0 0px;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  display: block;
}
.teams .container .teams-bottom .chef-info .chef-bottom p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}
.teams .container .teams-bottom .chef-info:hover a {
  color: #ff6600;
}

.footer {
  background-color: black;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer .container .footer-top {
  padding: 40px 0;
}
.footer .container .footer-top .content {
  padding: 24px 15px;
}
.footer .container .footer-top .content .item .footer-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}
.footer .container .footer-top .content .item h2 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.footer .container .footer-top .content .item p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer .container .footer-top .content .item .footer-social a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}
.footer .container .footer-top .content .item .footer-social a:hover {
  background-color: #ff6600;
  color: #f7f7f7;
}
.footer .container .footer-top .content .item ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer .container .footer-top .content .item form .txtEmail {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: #fff;
  border-radius: 6px;
}
.footer .container .footer-top .content .item form .btnSubmit {
  margin-top: 10px;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  background-color: #ff6600;
  width: 100%;
}
.footer .container .footer-bottom {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 1.2em 0;
  background: var(--footer-bg);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.footer .container .footer-bottom .footer-left {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}
.footer .container .footer-bottom .footer-left a {
  color: #ff6600;
}
.footer .container .footer-bottom .footer-left a:hover {
  color: #f7f7f7;
}
.footer .container .footer-bottom .footer-right {
  text-align: right !important;
  display: flex;
}
.footer .container .footer-bottom .footer-right a {
  margin-left: 50px;
}
.footer .container .footer-bottom .footer-right a:hover {
  color: #ff822e;
}