// Variable
@import '../../Base/Variable/variable';

// Main
// Base
@import '../../Base/Base/_base.scss';
// Fixed
@import '../../Base/Base/_bar-style.scss';
// Header
@import '../../Base/Themes/header/header';

// Carousel
@import '../../Base/Themes/carousel/carousel-1';

// Offer
.offer{
    .row{
        margin: 50px 0;
        .item-left{
            h4{
                @include text($fs-2xl, $fw-base, $color-c1-orange);
            }
            h1{
                @include text($fs-4xl, $fw-2xl, $color-c1-dark);
            }
        }
        .item-right{
            @include text($fs-xl, $fw-base, $color-c2-dark);
            p{
                margin-left: 30px;
            }
        }
    }
}

// Features
.features{
    .row{
        margin: 200px 0 80px 0;
        .card{
            box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
            border-color: $bd-c2-dark;
            padding: 35px;
            .head{
                display: flex;
                .box{
                    .icon{
                        width: 25px;
                        height: 25px;
                        padding: 20px;
                        background: $bg-c2-light;
                        color: $color-c1-orange;
                        border-radius: 5px;
                        transition: all 0.5s;
                    }
                }
                .item-left{
                    margin-left: 30px;
                    p{
                        @include text($fs-xl, $fw-base, $color-c2-dark);
                        margin: 0;
                    }
                    a{
                        @include text($fs-2xl-5, $fw-2xl, $color-c1-dark);
                        &:hover{
                            color: $color-c1-orange;
                        }
                    }
                }
            }
            .body{
                padding-top: 20px;
                @include text($fs-xl, $fw-base, $color-c2-dark);
            }
            &:hover{
                .head{
                    .box{
                        .icon{
                            background: $bg-c1-orange;
                            color: $color-c1-light;
                        }
                    }
                }
            }
        }
    }
}

// Welcome
.welcome{
    background-image: url(../../../img/banner2.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $bg-c3-dark;
    }
    .body{
        position: relative;
        z-index: 9;
        text-align: center;
        margin: auto;
        padding: 100px 0;
        max-width: 600px;
        h3{
            @include text($fs-4xl-5, $fw-2xl, $color-c1-light);
            margin-bottom: 50px;
        }
        .button-item{
            .more{
                @include button-2(15px, 50px, $fs-base, $fw-3xl);
                margin: 0 10px;
            }
            .contact{
                @include button-1(15px, 50px, $fs-base, $fw-3xl);
                margin: 0 10px;
            }
            .icon{
                font-size: $fs-2xl;
                transform: translate(10px, 3px);
            }
        }
    }
}

// Menu
.menu{
    padding: 100px 0;
    .title{
        text-align: center;
        margin-bottom: 40px;
        h4{
            @include text($fs-2xl, $fw-xl, $color-c1-orange);
        }
        h3{
            @include text($fs-3xl-5, $fw-2xl, $color-c1-dark);
        }
    }
    .row{
        .main{
            .head{
                border-bottom: 2px dotted $bd-c3-dark;
                padding-bottom: 10px;
                h1{
                    @include text($fs-2xl, $fw-2xl, $color-c1-dark);
                }
                h3{
                    @include text($fs-2xl, $fw-2xl, $color-c1-orange);
                }
            }
            .body{
                margin-top: 10px;
                @include text($fs-xl, $fw-xl, $color-c2-dark);
            }
        }
    }
}

// Footer
@import '../../Base/Themes/footer/footer';

// Animation
@import '../../Animation/animation'